<form class="container" [formGroup] = "form" (ngSubmit) = "onSubmit(form.value)">
  <input type="text" name="firstname" placeholder="firstname" formControlName="firstname">
  <br>
  <input type="text" name="lastname" placeholder="lastname" formControlName="lastname">
  <br>
  <select name="languages" formControlName="languages">
    <option value="C++">C++</option>
    <option value="Java">Java</option>
    <option value="Angular">Java</option>
  </select>
  <br><br>
  <input type="submit" value="submit">
</form>